<ion-menu contentId="main-content"> 
  <ion-header>
    <ion-toolbar class="menu-toolbar">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Noticias</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Sectores</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bebidas</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Rutas</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tiendas</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="main-toolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>SportDrinks</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" class="news-content">
    <h1 class="news-title">Rutas</h1>
    <div class="news-container">
      <!-- Noticias -->
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/img/RutaPteAlto1.png" />
          <ion-card-header>
            <ion-card-title>Puente Alto,  Ciudad del Sol</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Distancia
            4,83 km
            Desnivel positivo
            14 m
            Dificultad técnica
            Moderado
            Desnivel negativo
            14 m
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/img/RutaPteAlto2.png" />
          <ion-card-header>
            <ion-card-title>Puente Alto,  Ciudad del Sol, Los Manios, Concha y Toro</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Distancia
            10,91 km
            Desnivel positivo
            32 m
            Dificultad técnica
            Moderado
            Desnivel negativo
            32 m
          </ion-card-content>
        </ion-card>
    </div>
  </ion-content>
</div>