<ion-menu contentId="main-content"> 
  <ion-header>
    <ion-toolbar class="menu-toolbar">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Rutas</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Sectores</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bebidas</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Noticias</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="main-toolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>SportDrinks</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" class="news-content">
    <h1 class="news-title">Últimas Noticias</h1>
    <div class="news-container">
      <!-- Noticias -->
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/img/gareca.jpg" />
          <ion-card-header>
            <ion-card-title>Recordaron a Marcelo Bielsa": La primera exigencia de Ricardo Gareca en La Roja</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            El nuevo técnico de la Selección, tras visitar las instalaciones de Juan Pinto Durán, pidió una "recámara con vista a las canchas"
          </ion-card-content>
        </ion-card>
    </div>
  </ion-content>
</div>