<ion-menu contentId="main-content"> 
  <ion-header>
    <ion-toolbar class="menu-toolbar">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-button routerLink="/principal">Noticias</ion-button>
      </ion-item>
      <ion-item>
        <ion-button routerLink="/sectores">Sectores</ion-button>
      </ion-item>
      <ion-item>
        <ion-button routerLink="/bebidas">Bebidas</ion-button>
      </ion-item>
      <ion-item>
        <ion-button routerLink="/rutas">Rutas</ion-button>
      </ion-item>
      <ion-item>
        <ion-button routerLink="/tiendas">Tiendas</ion-button>
      </ion-item>
      <ion-item>
        <ion-button routerLink="/mi-tienda">Mi Tienda</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="main-toolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title routerLink="/principal">SportDrinks</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-button routerLink="/login">Iniciar sesión</ion-button>
    <ion-button routerLink="/registro-local">Registro</ion-button>
  </ion-content>
</div>
